/* Body */


/* * {
    overflow: hidden;
} */

body {
    line-height: 1.7;
    overflow-x: hidden;
}


/* Navbar */

.navbar {
    position: sticky;
    top: 0;
    width: 100%;
}


/* Navbar */

@media (max-width:375px) {
    .navbar {
        /* display: block; */
        background-color: aquamarine;
        min-width: 140%;
    }
}


/* News logo  */

.ISNlogo img {

    filter: invert(100%);
    margin-right: -245px;
    height: 92px;
    margin-left: 115px;
}


/* .container-fluid>a::before {
    content: "";
    display: inline-block;
    position: absolute;
    background: url("/image/logo_200x200\ \(1\).png") no-repeat left;
    top: 17%;
    left: 5%;
    width: 100%;
    height: 100%;
    z-index: -1;
} */


/* Ul navbar menu */

.navbar-expand-lg .navbar-nav {
    margin: 10px;
    margin-left: 22%;
}


/* li  */

.navbar-dark .navbar-nav .nav-link {
    font-size: 17px;
    color: #fff;
    padding: 3px, 0px;
    margin: 7px, 6px;
    line-height: 15px;
    letter-spacing: 1.9px;
    font-weight: 700;
}


/* News Container */

.accordion {
    display: grid;
    margin-top: 3%;
    grid-gap: 2rem;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
}


/* corona meter */

.tab-wrapper {
    width: 100%;
    box-sizing: border-box;
    /* position: relative; */
    background-color: #fff;
    border: solid 1px #dadada;
    padding: 10px;
    min-height: 290px;
}

.coronaupdate {
    display: flex;
}


/* news image */

#image {
    width: 100%;
    height: 100%;
}

.rightside {
    text-align: center;
    color: #fb4747;
}

.coronaimg {
    animation: corona 3s linear infinite;
}

@keyframes corona {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Menu Business etc */

.btn {
    border: none;
    margin: 3px 2px;
}


/* On footer Go to next page */

.nextPage {
    font-size: 20px;
}